# Dependências do Node
node_modules/
**/node_modules/

# Builds gerados pelo Vite
dist/
**/dist/

# Variáveis de ambiente e chaves privadas
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema operacional
.DS_Store
Thumbs.db